@using System.Runtime.InteropServices
@using System.Diagnostics
@using BooruApi.Models.Gelbooru.PostEndpoint

<div class="post" style="background-image: url(@Post.PreviewUrl);" @onclick="() => OpenInBrowser(Post.PostUrl)">
    @*<div>
    <div>
    Id: @Post.Id
    </div>
    <div>
    <a href="@Post.FileUrl">FileUrl</a>
    </div>
    @foreach (var item in Post.Tags.Split(' '))
    {
    <div class="tags">@item</div>
    }
    </div>*@
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public Post Post { get; set; }

    public static async Task OpenInBrowser(string url)
    {
        await Browser.Default.OpenAsync(url);
    }
}
