@using BooruApi.Models
<div class="post" style="background-image: url(@Post.PreviewUrl);">
    @*<div>
    <div>
    Id: @Post.Id
    </div>
    <div>
    <a href="@Post.FileUrl">FileUrl</a>
    </div>
    @foreach (var item in Post.Tags.Split(' '))
    {
    <div class="tags">@item</div>
    }
    </div>*@
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public Post Post { get; set; }
}
