@page "/"
@using BooruApi
@using BooruApi.Models
@using BooruViewer.Services
@using BooruViewer.ServicesJs

@inject JavascriptInteropHelper JavascriptInteropHelper
@inject GelbooruService GelbooruService

<div class="navbar sticky">
    <!-- permanent part -->
    <div class="toggle-nav-bar">
        <i class="ti ti-menu-2" @onclick="ToggleNavMenu"></i>
    </div>
    <div class="flex-position-workaround"></div>
    <!-- sometimes hidden part -->
    <div class="@NavMenuCssClass">
        <div class="search-settings-box">
            <!--search-settings-->
            <TokenizedAutocompolete OnTokensChange="OnSearchChanged"></TokenizedAutocompolete>
            <div class="search-settings">Rating Placeholder</div>
            <div class="search-settings">image size placeholder</div>
        </div>
        <div>
            <!--board selector-->
            <!--maybe local favourites too?-->
        </div>
    </div>
</div>

@code {
    private string NavMenuCssClass { get; set; } = "navbar-content";

    private void ToggleNavMenu()
    {
        if (NavMenuCssClass.Contains(" hidden"))
        {
            NavMenuCssClass = NavMenuCssClass.Replace(" hidden", "");
        }
        else
        {
            NavMenuCssClass += " hidden";
        }
    }


}

<div>
    @if (GelbooruService.LastPostResponse == null)
    {
        <h1>Loading...</h1>
    }
    else
    {
        if (GelbooruService.LastPostResponse.Attributes.Count == 0)
        {
            <h1>"No Results"</h1>
        }
        else
        {
            <div class="content">
                @foreach (var item in GelbooruService.Posts)
                {
                    <BooruPost Post="@item"></BooruPost>
                }

            </div>
            @*
    <div id="pagination">
    <button @onclick="async() => { CurrentPage--; await LoadPosts();}" disabled="@PreviousPageAvailable()">
    PreviousPage
    </button>
    <button @onclick="async() => { CurrentPage++; await LoadPosts();}" disabled="@NextPageAvailable()">
    NextPage
    </button>
    </div>
    *@
        }
    }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        JavascriptInteropHelper.OnScroll += OnScroll;

        await GelbooruService.OnInitializedAsync();
    }

    private async void OnScroll(int positionX, int currentScrollTopPosition)
    {
        var currentScrollBottomPosition = currentScrollTopPosition + JavascriptInteropHelper.Height;
        var maxScrollHeight = await JavascriptInteropHelper.GetMaxScrollHeight();

        // Phones Are Weird => I don't even know why this works
        var loadNewPagePosition = maxScrollHeight - (JavascriptInteropHelper.Height);

        if (currentScrollBottomPosition < loadNewPagePosition)
        {
            // Do nothing
            return;
        }

        // Validations are made inside
        if (!await GelbooruService.LoadNextPage())
        {
            // Does not need ui refreshing
            return;
        }

        StateHasChanged();
    }

    private async void OnSearchChanged(List<string> tagsRaw)
    {
        var tags = new List<Tag>();

        foreach (var item in tagsRaw)
        {
            tags.Add(new Tag()
                {
                    Value = item,
                });
        }

        GelbooruService.GelbooruPostQueryHelper.Tags = tags;

        await GelbooruService.NewSearch(GelbooruService.GelbooruPostQueryHelper);
        StateHasChanged();
    }

    public void Dispose()
    {
        JavascriptInteropHelper.OnScroll -= OnScroll;
    }
}